@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
// Main Colors
$darkblue: #0e223a;
$darkLightblue: #3c4857;
$black: #000000;
$darkGray: #404145;
$Gray: #3e4e61;
$lightGray: #989898;
$grayBorderColor: #DBDBDB;
$lightBlue: #33a5b4;
$deeplightBlue: #13B5EA;
$whiteColor: #ffffff;
$offWhite: #E9F7FD;
$lightBlueRGBA: #93c5df;
$deeplightBlueRGBA: #82828266;
$lightWhite: #fdfcfc;
$brownColor: #bc9c5c;
$brownRGBAColor: #bc9c5c80;
$lightBlack: #222222;
$whiteRGBA: #f0eeee;
$red: #ff5722;
$lightPink: #FEF8F5;
// ===============
// Fonts
$exoFont: 'Exo 2',
sans-serif;
$dmSerifFont: 'DM Serif Display',
serif;
$merriWeather: 'Merriweather',
sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: bold;
$fontWeightMedium: 600;
$fontWeightLight: 300;
$xtraSmallFont: 10px;
$smallFontSize: 12px;
$basicFontSize: 14px;
$defaultFontSize: 16px;
$mediumFontSize: 18px;
$largeFontSize: 20px;
$basicHeading: 24px;
$Heading: 28px;
$maxHeading: 34px;
//  ==========
// Letter Spacing
$xtrasmallletterSpacing: 0.6px;
$smallletterSpacing: 1.4px;
$mediumletterSpacing: 2.4px;
$mainletterSpacing: 2.8px;
$largeletterSpacing: 3.2px;
$maxletterSpacing: 3.6px;
// ==============
// =================== //