@import "common-scss/variable";
@import "common-scss/header";
@import "about";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $exoFont;
    background-color: $lightPink;
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}